body {
  font-family: 'Comic Sans MS',cursive,sans-serif;
  background: #181818;
  color: #EFEFEF;
  font-size: 16px
}
.onoffswitch {
  position: relative; width: 64px;
}
.onoffswitch-checkbox {
  display: none;
}
.onoffswitch-label {
  display: block; overflow: hidden; cursor: pointer;
  border: 2px solid #999999; border-radius: 20px;
}
.onoffswitch-inner {
  display: block; width: 200%; margin-left: -100%;
  transition: margin 0.3s ease-in 0s;
}
.onoffswitch-inner:before, .onoffswitch-inner:after {
  display: block; float: left; width: 50%; height: 30px; padding: 0; line-height: 30px;
  font-size: 14px; color: white; font-family: Trebuchet, Arial, sans-serif; font-weight: bold;
  box-sizing: border-box;
}
.onoffswitch-inner:before {
  content: "ON";
  padding-left: 8px;
  background-color: #FF0026; color: #FFFFFF;
}
.onoffswitch-inner:after {
  content: "OFF";
  padding-right: 4px;
  background-color: #EEEEEE; color: #999999;
  text-align: right;
}
.onoffswitch-switch {
  display: block; width: 18px; margin: 6px;
  background: #FFFFFF;
  position: absolute; top: 0; bottom: 0;
  right: 30px;
  border: 2px solid #999999; border-radius: 20px;
  transition: all 0.3s ease-in 0s; 
}
.onoffswitch-checkbox:checked + .onoffswitch-label .onoffswitch-inner {
  margin-left: 0;
}
.onoffswitch-checkbox:checked + .onoffswitch-label .onoffswitch-switch {
  right: 0px; 
}

.flashswitch {
  position: relative; width: 150px;
}
.flashswitch-checkbox {
  display: none;
}
.flashswitch-label {
  display: block; overflow: hidden; cursor: pointer;
  border: 2px solid #999999; border-radius: 20px;
}
.flashswitch-inner {
  display: block; width: 200%; margin-left: -100%;
  transition: margin 0.3s ease-in 0s;
}
.flashswitch-inner:before, .flashswitch-inner:after {
  display: block; float: left; width: 50%; height: 30px; padding: 0; line-height: 30px;
  font-size: 14px; color: white; font-family: Trebuchet, Arial, sans-serif; font-weight: bold;
  box-sizing: border-box;
}
.flashswitch-inner:before {
  content: "Flash Enabled";
  padding-left: 12px;
  background-color: #FF0026; color: #FFFFFF;
}
.flashswitch-inner:after {
  content: "Flash Disabled";
  padding-right: 12px;
  background-color: #EEEEEE; color: #999999;
  text-align: right;
}
.flashswitch-switch {
  display: block; width: 18px; margin: 6px;
  background: #FFFFFF;
  position: absolute; top: 0; bottom: 0;
  right: 116px;
  border: 2px solid #999999; border-radius: 20px;
  transition: all 0.3s ease-in 0s; 
}
.flashswitch-checkbox:checked + .flashswitch-label .flashswitch-inner {
  margin-left: 0;
}
.flashswitch-checkbox:checked + .flashswitch-label .flashswitch-switch {
  right: 0px; 
}

.clickmebutton {
  font-family: 'comic sans ms';
  font-weight: bold;
  color: #14396A !important;
  font-size: 14px;
  text-shadow: 1px 1px 0px #7CACDE;
  box-shadow: 1px 1px 1px #BEE2F9;
  padding: 5px 20px;
  border-radius: 16px;
  border: 2px solid #3866A3;
  background: #63B8EE;
  background: linear-gradient(to top, #63B8EE, #468CCF);
}
.clickmebutton:hover {
  color: #14396A !important;
  background: #468CCF;
  background: linear-gradient(to top, #468CCF, #63B8EE);
}
      